<!DOCTYPE html>
  <html lang="pt-BR">
      <head>
          <title>CodeLoop Seletivo</title>
  
          <!-- Load Bootstrap CSS -->
          <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"> 

      </head>

      <body>        
          <nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
          <a class="navbar-brand" href="#">Dados De Alunos</a>
  
          <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="search" placeholder="Procurar" aria-label="Procurar">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Procurar</button>
          </form>
  
          </nav>
          <div>
  
              <div class="container">
                  
                  <!-- Tabela-para-carregar-os-dados -->
                  <table class="table  table-bordered table-hover" *ngIf="!isUpdating">
                      <thead>
                          <tr>
                              <th>ID</th>
                              <th>Nome</th>
                              <th>Data de Nascimento</th>
                              <th>Série</th>
                              <th>Endereço</th>
                              <th>Dados da mãe</th>
                              <th>Dia do Vencimento</th>
                              <th><button id="btn-add" class="btn btn-primary btn-md"  (click)="open(content)"><span class="glyphicon glyphicon-plus"></span> Adicionar novo aluno</button></th>
                          </tr>
                      </thead>
                      <tbody>
                           <tr *ngFor="let aluno of alunos">
                              <td>{{ aluno.id }}</td>
                              <td>{{ aluno.nome }}</td>
                              <td>{{ aluno.nasc }}</td>
                              <td>{{ aluno.serie }}º ano</td>
                              <td>{{ aluno.rua }}, {{ aluno.numero_endereco }}<br>{{aluno.bairro}}<br *ngIf='aluno.complemento'>{{ aluno.complemento }}<br>{{ aluno.cidade }} - {{ aluno.estado }}<br>{{ aluno.cep }}</td>
                              <td>{{ aluno.nome_mae }}<br>{{ aluno.cpf }}<br></td>
                              <td>{{ aluno.venc}}</td>
                              <td>
                                  <div class = "btn-group" >
                                    <button class="btn btn-default btn-md btn-detail" (click)="editAluno(aluno)"><span class="glyphicon glyphicon-edit"></span> Editar</button>
                                    <button class="btn btn-danger btn-md btn-delete" (click)="deleteAluno(aluno)"><span class="glyphicon glyphicon-trash"></span> Excluir</button>
                                  </div>
                              </td>
                          </tr>
                      </tbody>
                  </table>
              </div>
              <!-- Final da Tabela-para-carregar-os-dados -->
          </div>
        <!-- Modal (Pop up quando o botão de detalhes é clicado) -->
              <ng-template #content let-modal>
                <div class="modal-header">
                  <h4 class="modal-title" id="modal-basic-title">Adicionar/Editar Aluno</h4>
                  <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                              <form name="frmAlunos" class="form-horizontal" novalidate>
  
                                  <div class="form-group error">
                                      <label for="inputEmail3" class="col-sm-3 control-label">Nome</label>
                                      <div class="col-sm-9">
                                          <input type="text" class="form-control has-error" id="nome" name="nome" placeholder="Nome completo" value="{{nome}}" maxlength="100"
                                          [(ngModel)]="alunoForm.nome" ng-required="true">
                                          <span class="help-inline"
                                          ng-show="frmAlunos.nome.$invalid && frmAlunos.nome.$touched">Nome é obrigatório.</span>
                                      </div>
                                  </div>
  
                                  <div class="form-group">
                                      <label for="serie" class="col-sm-3 control-label">Série</label>
                                      <div class="col-sm-9">
                                           <select id="serie" name="serie" [(ngModel)]="alunoForm.serie" ng-required="true">
                                              <option value="1" selected="selected">1º ano</option>
                                              <option value="2">2º ano</option>
                                              <option value="3">3º ano</option>
                                              <option value="4">4º ano</option>
                                              <option value="5">5º ano</option>
                                              <option value="6">6º ano</option>
                                              <option value="7">7º ano</option>
                                              <option value="8">8º ano</option>
                                              <option value="9">9º ano</option>
                                            </select> 
                                      </div>
                                  </div>
  
                                  <div class="form-group">
                                      <label for="data_nasc" class="col-sm-3 control-label">Data de Nascimento</label>
                                      <div class="col-sm-9">
                                          <input type="date" class="form-control" id="data_nasc" name="data_nasc" placeholder="Data de Nascimento" min="2000-01-01"value="{{data_nasc}}"
                                          [(ngModel)]="alunoForm.nasc" ng-required="true">
                                      </div>
                                  </div>

                                  <h3>Endereço</h3>
                                  
                                  <div class="form-group">
                                      <label for="cep" class="col-sm-3 control-label">CEP</label>
                                      <div class="col-sm-9">
                                          <input type="text" class="form-control" id="cep" name="cep" placeholder="CEP" value="{{cep}}" maxlength="8"
                                          [(ngModel)]="alunoForm.cep" ng-required="true">
                                      <span class="help-inline" ng-show="frmAlunos.cep.$invalid && frmAlunos.cep.$touched">CEP é obrigatório</span>
                                      </div>
                                  </div>

                                  <div class="form-group">
                                      <label for="rua" class="col-sm-3 control-label">Rua</label>
                                      <div class="col-sm-9">
                                          <input type="text" class="form-control" id="rua" name="rua" placeholder="Rua" value="{{rua}}" maxlength="120"
                                          [(ngModel)]="alunoForm.rua" ng-required="true">
                                      <span class="help-inline" ng-show="frmAlunos.rua.$invalid && frmAlunos.rua.$touched">Rua é obrigatório</span>
                                      </div>
                                  </div>

                                  <div class="form-group">
                                      <label for="numero_endereco" class="col-sm-3 control-label">Número</label>
                                      <div class="col-sm-9">
                                          <input type="text" class="form-control" id="numero_endereco" name="numero_endereco" placeholder="Número" numbers-only="numbers-only" value="{{numero_endereco}}"
                                          [(ngModel)]="alunoForm.numero_endereco" ng-required="true">
                                      <span class="help-inline"
                                          ng-show="frmAlunos.numero_endereco.$invalid && frmAlunos.numero_endereco.$touched">Número é obrigatório</span>
                                      </div>
                                  </div>

                                  <div class="form-group">
                                      <label for="complemento" class="col-sm-3 control-label">Complemento</label>
                                      <div class="col-sm-9">
                                          <input type="text" class="form-control" id="complemento" name="complemento" placeholder="Complemento" value="{{complemento}}" maxlength="50" [(ngModel)]="alunoForm.complemento">
                                      </div>
                                  </div>

                                  <div class="form-group">
                                      <label for="bairro" class="col-sm-3 control-label">Bairro</label>
                                      <div class="col-sm-9">
                                          <input type="text" class="form-control" id="bairro" name="bairro" placeholder="Bairro" value="{{bairro}}" maxlength="100"
                                          [(ngModel)]="alunoForm.bairro" ng-required="true">
                                      <span class="help-inline" ng-show="frmAlunos.bairro.$invalid && frmAlunos.bairro.$touched">Bairro é obrigatório</span>
                                      </div>
                                  </div>

                                  <div class="form-group">
                                      <label for="cidade" class="col-sm-3 control-label">Cidade</label>
                                      <div class="col-sm-9">
                                          <input type="text" class="form-control" id="cidade" name="cidade" placeholder="Cidade" value="{{cidade}}" maxlength="100"
                                          [(ngModel)]="alunoForm.cidade" ng-required="true">
                                      <span class="help-inline" ng-show="frmAlunos.cidade.$invalid && frmAlunos.cidade.$touched">Cidade é obrigatório</span>
                                      </div>
                                  </div>

                                  <div class="form-group">
                                      <label for="estado" class="col-sm-3 control-label">Estado</label>
                                      <div class="col-sm-9">
                                           <select id="estado" name="estado" [(ngModel)]="alunoForm.estado" ng-required="true">
                                              <option value="AC" selected>Acre</option>
                                              <option value="AL">Alagoas</option>
                                              <option value="AP">Amapá</option>
                                              <option value="AM">Amazonas</option>
                                              <option value="BA">Bahia</option>
                                              <option value="CE">Ceará</option>
                                              <option value="DF">Distrito Federal</option>
                                              <option value="ES">Espírito Santo</option>
                                              <option value="GO">Goiás</option>
                                              <option value="MA">Maranhão</option>
                                              <option value="MT">Mato Grosso</option>
                                              <option value="MS">Mato Grosso do Sul</option>
                                              <option value="MG">Minas Gerais</option>
                                              <option value="PA">Pará</option>
                                              <option value="PB">Paraíba</option>
                                              <option value="PR">Paraná</option>
                                              <option value="PE">Pernambuco</option>
                                              <option value="PI">Piauí</option>
                                              <option value="RJ">Rio de Janeiro</option>
                                              <option value="RN">Rio Grande do Norte</option>
                                              <option value="RS">Rio Grande do Sul</option>
                                              <option value="RO">Rondônia</option>
                                              <option value="RR">Roraima</option>
                                              <option value="SC">Santa Catarina</option>
                                              <option value="SP">São Paulo</option>
                                              <option value="SE">Sergipe</option>
                                              <option value="TO">Tocantins</option>
                                            </select> 
                                      </div>
                                  </div>

                                  <h3>Dados da Mãe</h3>

                                  <div class="form-group">
                                      <label for="nome_mae" class="col-sm-3 control-label">Nome da mãe</label>
                                      <div class="col-sm-9">
                                          <input type="text" class="form-control" id="nome_mae" name="nome_mae" placeholder="Nome da mãe" value="{{nome_mae}}" maxlength="100"
                                          [(ngModel)]="alunoForm.nome_mae" ng-required="true">
                                          <span class="help-inline"
                                          ng-show="frmAlunos.nome_mae.$invalid && frmAlunos.nome_mae.$touched">Nome da mãe é obrigatório.</span>
                                      </div>
                                  </div>

                                  <div class="form-group">
                                      <label for="cpf" class="col-sm-3 control-label">CPF</label>
                                      <div class="col-sm-9">
                                          <input type="text" class="form-control" id="cpf" name="cpf" placeholder="CPF" ng-cpf value="{{cpf}}" maxlength="11"
                                          [(ngModel)]="alunoForm.cpf" ng-required="true">
                                          <span class="help-inline" ng-show="frmAlunos.cpf.$invalid && frmAlunos.cpf.$touched">Preencha um CPF válido.</span>
                                      </div>
                                  </div>

                                  <div class="form-group">
                                      <label for="venc" class="col-sm-3 control-label">Dia de vencimento</label>
                                      <div class="col-sm-9">
                                        <select id="venc" name="venc" [(ngModel)]="alunoForm.venc" ng-required="true">
                                                <option value="1" selected>1</option>
                                                <option value="2">2</option>
                                                <option value="3">3</option>
                                                <option value="4">4</option>
                                                <option value="5">5</option>
                                                <option value="6">6</option>
                                                <option value="7">7</option>
                                                <option value="8">8</option>
                                                <option value="9">9</option>
                                                <option value="10">10</option>
                                                <option value="11">11</option>
                                                <option value="12">12</option>
                                                <option value="13">13</option>
                                                <option value="14">14</option>
                                                <option value="15">15</option>
                                                <option value="16">16</option>
                                                <option value="17">17</option>
                                                <option value="18">18</option>
                                                <option value="19">19</option>
                                                <option value="20">20</option>
                                                <option value="21">21</option>
                                                <option value="22">22</option>
                                                <option value="23">23</option>
                                                <option value="24">24</option>
                                                <option value="25">25</option>
                                                <option value="26">26</option>
                                                <option value="27">27</option>
                                                <option value="27">28</option>
                                            </select>
                                      </div>
                                  </div>

                              </form>
                              </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-outline-dark" (click)="saveAluno()">Save</button>
                </div>
              </ng-template>
      </body>
  </html>

